MONGODB_CONNECTION_STRING=mongodb://mongodb:27017
MONGODB_DATABASE=OrdersDatabase
REDIS_CONNECTION_STRING=redis:6379
MYSQL_CONNECTION_STRING="Server=mysql;Port=3306;Database=microservice_products;User ID=root;Password=my_password"
MYSQL_ROOT_PASSWORD=my_password
MYSQL_DATABASE=microservice_products
MYSQL_PASSWORD=my_password
POSTGRESQL_CONNECTION_STRING="Host=postgres;Port=5432;Database=microservices_users;User Id=postgres;Password=my_password"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=my_password
POSTGRES_DB=microservices_users
RabbitMQ_Host_Name=rabbitmq
RabbitMQ_User_Name=user_name
RabbitMQ_Password=my_password
RabbitMQ_Password=5672
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=my_password
RABBITMQ_PRODUCT_EXCHANGE=products.exchange